<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                  http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- Problème de quota ? Décommentez la ligne suivante -->
  <!-- <localRepository>/tmp/maven/repository</localRepository> -->

  <proxies>
    <proxy>
      <id>http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>cache-etu.univ-lille1.fr</host>
      <port>3128</port>
    </proxy>
    <proxy>
      <id>https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>cache-etu.univ-lille1.fr</host>
      <port>3128</port>
    </proxy>
  </proxies>
</settings>
