<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bap.uit.com.bap" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moustache"
        android:label="La Barbe à Papa"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Intro"
            android:label="La Barbe à Papa" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Index"
            android:label="@string/title_activity_index" >
        </activity>
        <activity
            android:name=".Register"
            android:label="Register" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RDV"
            android:label="@string/title_activity_rdv" >
        </activity>
        <activity
            android:name=".Jesuis"
            android:label="@string/title_activity_jesuis" >
        </activity>
        <activity
            android:name=".InscriptionBarbier"
            android:label="@string/title_activity_inscription_barbier" >
        </activity>
        <activity
            android:name=".IndexBarbier"
            android:label="@string/title_activity_index_barbier" >
        </activity>
        <activity
            android:name=".EDT_Barbier"
            android:label="@string/title_activity_edt__barbier" >
        </activity>
        <activity
            android:name=".IndexClient"
            android:label="@string/title_activity_index_client" >
        </activity>
        <activity
            android:name=".LoginBarbier"
            android:label="@string/title_activity_login_barbier" >
        </activity>
        <activity
            android:name=".ChoixClient"
            android:label="@string/title_activity_choix_client" >
        </activity>
        <activity
            android:name=".ListedesBarbiers"
            android:label="@string/title_activity_listedes_barbiers" >
        </activity>
        <activity
            android:name=".PageBarbier"
            android:label="@string/title_activity_page_barbier" >
        </activity>
    </application>

</manifest>
