#header{
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 50%;
}

body{
	background-color:#472f2f;
}

h2{
	color: #fff;
}

h1{
	color: #fff;
}

input{
	background-color: #fff;
	color: #000;
}

#buttonBB{
	width: 200px;

}
label{
	color: #fff;
}

h1 small{
	color: #d262bf;
	
}

#moustache{
	width:7%;
	
}